
.nav {
  width: 100%;
  height: 60px;
  background-color: rgb(143, 133, 181, 0.3);
  position: fixed;
  border-bottom: 3px solid black; 
  
  
  font-weight: 800 ;
  font-style: italic;
  padding: 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center; 

  z-index: 9999; 

  
}

nav a{
  cursor: pointer; 
}

.right-side {
  display: flex;
  justify-content: space-between; 
  gap: 3rem;
  align-items: center;
}

.nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between; 
  gap: 3rem;
  opacity: 1;
  font-size: 23px;
  font-size: 1.5rem; 
} 

.nav ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav ul a:hover {
  background: linear-gradient(to top, #201D48, #4D46AE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav a.active {
  border-bottom: 3px solid white; 
}

.nav ul a.active:hover {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #201D48, #4D46AE) 1;
}

#contact-button{
  /* background-color: white;
  color: #005577  !important;
  border: 1px solid #005577; */

  text-decoration: none;
  background-color: transparent;
  color: white ;
  border: 3px solid #ffffff;

  border-radius: 30px;
  padding: 0.4vh 1vh;  
  
  font-size:  20px;
  transition: all 0.3s ease;
  display: inline-block;

}

#contact-button:hover {
  transform: scale(1.05);
  color: #005577;
  background-color: white;
}

.favicon {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.faviconImg {
  width: 43px;
  height: 43px;
  cursor: pointer;
  position: absolute;
  top: -20px;
  left: 2px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.favicon img:first-child {
  opacity: 1;
  z-index: 1;
}

.favicon img:last-child {
  opacity: 0;
  z-index: 2;
}

.favicon:hover img:first-child {
  opacity: 0;
}

.favicon:hover img:last-child {
  opacity: 1;
}

.favicon:hover {
  transform: scale(1.05);
}

/* Burger Navigation */

.burger {
  display: none;
}

.burgerContainer{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: #c40e0e;
  margin: 5px;
  border-radius: 25%;
}

@media (max-width: 710px) {
  nav {
    position: fixed;
    padding: 20px;
    right: -100%; /* Hiding the Nav */
    height: calc(100% - 70px); /* Minus header height */
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background: #fff;
    border-left: solid 1px #ddd;
    transition: all 0.4s ease;
  }
  nav.showNav{
    right: 0;
  }
  nav ul{
    width: 100%;
  }
  .navbar .nav-link{
    width: 100%;
    display: block;
    margin: 5px 0;
    text-align: center;
  }
  .burger{
    display: inline-block;
  }
}