*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    padding: 4rem;
    min-height: 100vh;
}


#home{
    background-image: url("./assets/background/backgroundPoints.jpeg");
}

#about{
    background-image: url("./assets/background/background1.jpeg");
}

#techs{
    background-image: url("./assets/background/background1.3.png");    
}

#projects{
    background-image: url("./assets/background/background1.jpeg");  
}



@media (max-width: 768px) {
    .container{
        padding: 2rem;
    }
}


