*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    padding: 4rem;
    min-height: 100vh;
    
}


#home{
    background-image: url("./assets/background/backgroundPoints.jpeg");
    background: linear-gradient(to bottom, #23e4c7, #14143d);
    padding: 0;
    padding-top: 4rem;
}

#about{
    background-image: url("./assets/background/background1.jpeg");
    background: linear-gradient(to top, #23e4c7, #14143d);
}

#techs{
    background-image: url("./assets/background/background1.3.png"); 
    background: linear-gradient(to bottom, #23e4c7, #14143d);  
}

#projects{
    background-image: url("./assets/background/background1.jpeg");
    background: linear-gradient(to top, #23e4c7, #14143d); 
}

#contact{
    background-image: url("./assets/background/background1.3.png"); 
    background: linear-gradient(to bottom, #23e4c7, #14143d);  
}





@media (max-width: 768px) {
    .container{
        padding: 2rem;
    }
}


