.project-area{
    width: 280px;
    height: 440px;
    background-color: rgb(217, 217, 217, 0.5);
    border-radius: 10px;

    outline: 4px solid rgb(0, 0 ,0 , 0.4);
    outline-offset: 0px;
    border: 0px;
 
    font-family: 'Inter', sans-serif;
    color: white; 


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
    
}

#project-img{
    width: 100%;
    height: 35%;
    border-radius: 10px;
}

.project-text{
    

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

h4{
    font-style: italic;
    font-weight: 800;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

#project-desc{
    font-size: 18px;
    color: rgb(229, 229, 229, 1);
    padding: 0.2rem ;
    
}

.tech-stack-and-view-projects{
    width: 100%;
    padding: 0.2rem ;
    align-items: end;
    margin: 0;
}

.tech-stack {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.3rem;
    align-items: center;
}
  
.tech-icon:hover {
    transform: scale(1.1);
}

.tech-icon {
    width: 24px;
    height: 24px;
}

.view-projects{
    display: flex;
    align-items: center;
}

#github-img{
    height: 30px;
    width: 30px;
}

#github-img:hover{
    transform: scale(1.1);
}

@media (max-width: 800px) {
    .project-area{
        width: 240px;
        height: 337px;
        
    }

    #project-desc{
        font-size: 14px;        
    }
    
    .tech-stack-and-view-projects{
        font-size: 12px;
    }

    .tech-icon {
        width: 20px;
        height: 20px;
    }
    
    #github-img{
        height: 25px;
        width: 25px;
    }
}

