.projects{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-area{
    display: flex;
    flex-wrap: wrap;
    gap: 7rem; 
    justify-content: center;
    padding: 30px;
}

@media (max-width: 1250px) {
    .projects-area{ 
        gap: 3rem; 
        padding: 10px; 
    }
}

@media (max-width: 615px) {
    @media (max-width: 1250px) {
        .projects-area{ 
            gap: 2rem; 
            padding: 10px; 
        }
    }
}


