.about{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    min-width: 100%;
    position: relative; */
    padding-top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
    color: white;
    align-items: center;
    text-align: center;

}



.about-text-area{
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    width: 70%;
    height: 100%;
    padding: 1rem;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}


#about-text{
    font-size: clamp(1rem, 5vh, 3rem);
    font-size: clamp(1.3rem, 2.3vw, 3rem);
}


.text-and-images{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
}


#programming{
    /* width: 20vh;
    height: 18vh;
    position: absolute; */


    width: 8rem;
    /* position: absolute; */
}


/* .dice{
    /* width: 20vh;
    height: 18vh;
    position: absolute; */

    /* grid-column: 1 / 1;
    grid-row: 1 / 2;
    justify-self: end;
    width: 8rem; */
    /* position: absolute;
}    */

#analysis{
    /* width: 33vh;
    height: 36.6vh;
    position: absolute;    */
    justify-self: end;
    width: 12rem;
    height: 15rem;
}

@media (max-width: 900px) {
    #analysis{
        width: 0rem;
    }

    #programming{
        width: 0rem;
    }

    .about-text{
        padding: 0.7;
    }

    .about-text-area{
        width: 80%;
        padding: 0.7;
    }
}


@media (max-width: 720px) {
    .about-text-area{
        width: 90%;
    }
}

@media (max-width: 520px) {
    .about-text-area{
        width: 100%;
    }
}