.footer{
    /* background: linear-gradient(to bottom, #23e4c7, #14143d); */
    
    width: 100%;
    height: 50px;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}

.footer-text{
    font-size: 0.9rem;

    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

.footer-images{
    display: flex;
    gap: 10px;
}

.footer-image{
    width: 50px;
    height: 50px;
    
}

@media (max-width: 600px) {
    
    .footer-text{
        font-size: 0.8rem;
    
        font-family: 'Inter', sans-serif;
        color: rgb(255, 255, 255);
    }
    
    .footer-images{
        display: flex;
        gap: 10px;
    }
    
    .footer-image{
        width: 40px;
        height: 40px;
        
    }
}
